/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
html {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
q, blockquote {
	quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}
a img {
	border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}
html {
}
*,*:before,*:after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto ;
}
/* CSS Reset end */


.wrapper{

	max-width: 1000px;
	margin: 0 auto;

}

@media(max-width: 767px){

	.wrapper{

		width: 100%;
	}
}

.clearfix::after{

	display: block;
	clear: both;
	content: '';
}

.social-icon{

	padding: 10px;
	background-color: #f6f6f6;
}

.social-icon ul{

	float: right;
}

.social-icon li{

	float: left;
}

.social-icon li a{

	display: block;
	margin-left: 10px;
	text-decoration: none;

}

.fb a{

	color: #4460a0;
}

.twitter a{

	color: #00aaec;
}


.header{

	box-shadow: 0px 2px 0.5px #5555;
	padding: 10px;
}



.logo{

	background: url('../images/logo.png')no-repeat;
	width: 170px;
	height: 36px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}

.logo a{

	display: block;
	width: 100%;
	height: 100%;
}


.menu{

	float: right;

}

.menu li{

	float: left;
}

.menu li a{

	padding: 20px;
	line-height: 30px;
	border-bottom: 5px solid transparent;
	text-decoration: none;
	color: #00cc99;	
}


.menu li a:hover{

	border-bottom: 5px solid #00cc99;
}


@media(max-width: 767px){

	.menu{

		float: none;
	}

	.menu li{

		width: 50%;
	}

	.menu li a{

		display: block;
		width: 50%;
		margin: 0 auto;
		text-align: center;
}

}

.content{



}



.content ul li{

	float: left;
	width: 31.33333%;
	height: 330px;
	margin: 30px 1%;
	padding: 2%;
	box-shadow: 0px 2px 4px #5555;
	border-radius: 4px;
	line-height: 20px;
}



.content img {

	display: block;
	margin: 0 auto;
}

.content  h2{

	text-align: center;
	padding: 10px;
	font-size: 20px;
	color: #000000;

}


.content .course li{

	float: none;
	box-shadow: none;
	width: auto;
	height: auto;
	margin: 0;
	padding: 1%;
	list-style: disc;
	margin-left: 20px;
	line-height: 15px;
}


@media(max-width: 767px){


	.content ul li{

		float: none;
		width: 60%;
		margin: 10px auto;
		padding: 3% 5%;
		height: auto;
		line-height: 30px;

	}


	.content .course li{

		float: none;
		width: 80%;
		margin: 0 auto;
		height: auto;
    	}

    .content  h3{

    	width: 80%;
    	margin: 0 auto;

    	
    }


}